{% extends "base.html" %}

{% block content %}

<div class="title-description">
    <h2>Book A Table</h2>
    <p>
        Please complete the following form to reserve a table at Arthur &amp; Alfie's.
    </p> 
</div>

<div class="container">
    <!-- Table Booking Form -->
    <form method="POST" action="">
        {% csrf_token %}
        {{ form }}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- <form method="post">
        {% csrf_token %}
        <h4>Your Details</h4>
        <div class="row mb-3">
            <label for="inputFirstName" class="col-sm-2 col-form-label">First Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="Your first name" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputLastName" class="col-sm-2 col-form-label">Last Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputLastName" name="inputLastName" placeholder="Your last name" required>
            </div>
        </div>             
        <div class="row mb-3">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="your_email@email.com" required>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPhone" class="col-sm-2 col-form-label">Phone Number:</label>
          <div class="col-sm-10">
            <input type="tel" class="form-control" id="inputPhone" name="inputPhone" placeholder="01234567890" required>
          </div>
        </div>
        <div class="row mb-3">
            <label for="inputRequirements" class="col-sm-2 col-form-label">Special Requirements:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputRequirements" name="inputRequirements" placeholder="e.g. highchair, disabled access, dietary needs (optional)">
            </div>
        </div>
        <br>
        <h4>How Many Guests &amp; When?</h4>
        <div class="row mb-3">
            <label for="inputGuests" class="col-sm-2 col-form-label">Number of Guests:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="inputGuests" name="inputGuests" placeholder="maximum per booking: 16" min="1" max="16" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label">Chosen Date:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="inputDate" name="inputDate" placeholder="please select reservation date" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputTime" class="col-sm-2 col-form-label">Time of Reservation:</label>
            <div class="col-sm-10">
                <input type="time" class="form-control" id="inputTime" name="inputTime" placeholder="please select reservation time" required>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->
</div>

{%endblock%}