{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <!-- Delete Restaurant Booking -->
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body text-center">
                <p>Are you sure you want to delete "{{reserve}}"?</p>
    
                <form action="{% url 'delete_bookings' reserve.id %}" method="POST"> 
                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'user_bookings' %}">Cancel</a>
    
                    <input class="btn btn-danger" type="submit" name="Confirm">
                </form>
            </div>
        </div>
    </div>  
</div>

{%endblock%}