{% extends "base.html" %}

{% block content %}

<div class="title-description">
    <h2>Welcome</h2>
    <p>
        Dear guests, Arthur &amp; Alfie welcome you to their restaurant. We have been serving family friendly meals for over a decade.
        <br>
        Locally sourced, premium quality ingredients. We look forward to seeing you again and again. Our first star service and front of house is waiting for you. 
        <br>
        Welcome and have a fine, family friendly dining experience.
    </p> 
</div>

<div class="container px-4 py-5 alignment" id="featured-3">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col border">
      <div class="icon">
        <i class="fas fa-utensils"></i>
      </div>
      <a href="{% url 'menu' %}" class="icon-link">
        <h3>Menu</h3>
      </a>
      <p>Whether it's breakfast, lunch or dinner, we have your hunger covered! Locally sourced, fresh ingredients are at the heart of our dishes.</p>
    </div>
    <div class="feature col border">
      <div class="icon">
        <i class="fas fa-book-open"></i>
      </div>
      <a href="{% url 'bookings' %}" class="icon-link">
        <h3>Book Now</h3>
      </a>
      <p>We would be happy to welcome you to our restaurant, please reserve a table at Arthur &amp; Alfie's by clicking thourgh to the reservation form.</p> 
    </div>
    <div class="feature col border">
      <div class="icon">
        <i class="fas fa-newspaper"></i>
      </div>
      <a href="{% url 'sign_up' %}" class="icon-link">
        <h3>Newsletter</h3>
      </a>
      <p>Sign up to our newsletter to get the latest restaurant news and menus sent directly to your inbox.</p>
    </div>
    <div class="feature col border">
      <div class="icon">
        <i class="fas fa-blog"></i>
      </div>
      <a href="{% url 'blog' %}" class="icon-link">
        <h3>Blog</h3>
      </a>
      <p>For the latest updates and information, please see the below blogs.</p> 
    </div>
    <div class="feature col border">
      <div class="icon">
        <i class="fas fa-user-plus"></i>
      </div>
      <a href="{% url 'account_signup' %}" class="icon-link">
        <h3>Register</h3>
      </a>
      <p>To see future table bookings or like a blog, please register. Already have an account? Then please Log In.</p>
    </div>
    <div class="feature col border">
      <div class="icon">
        <i class="fas fa-sign-in-alt"></i>
      </div>
      <a href="{% url 'account_login' %}" class="icon-link">
        <h3>Log In</h3>
      </a>
      <p>To see future table bookings or like a blog, please sign in. If you have not created an account yet, then please Register.</p>
    </div>
  </div>
</div>

<div class="container border alignment">
  <div class="container">
    <div class="icon">
      <i class="fas fa-bullhorn"></i>
    </div>
    <a href="{% url 'blog' %}" class="icon-link">
      <h3>Latest News</h3>
    </a>
  </div>

  <div class="container">
    <div class="row">
      {% for blog in blogs %}
        <div class="card bg-dark text-white col-md m-2">
          <img src="{{blog.featured_image.url}}" class="card-img news-card" alt="food image relating to the blog post">
          <div class="card-img-overlay">
            <h5 class="card-title">{{blog.title}}</h5>
            <p class="card-text">{{blog.excerpt}}</p>
            <p class="card-text">{{blog.updated_on}}</p>
          </div>
        </div>
      {% endfor %}  
    </div>
  </div>
</div>

{%endblock%}

