{% extends "base.html" %}

{% block content %}

<div class="title-description">
    <h2>Welcome</h2>
    <p>
        Dear guests, Arthur &amp; Alfie welcome you to their restaurant. We have been serving family friendly meals for over a decade.
        <br>
        Locally sourced, premium quality ingredients. We look forward to seeing you again and again. Our first star service and front of house is waiting for you. 
        <br>
        Welcome and have a fine, family friendly dining experience.
    </p> 
</div>

<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <i class="fas fa-utensils"></i>
        <a href="#" class="icon-link">
            <h2>Menu</h2>
        </a>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      </div>
      <div class="feature col">
        <i class="fas fa-book-open"></i>
        <a href="#" class="icon-link">
            <h2>Book Now</h2>
        </a>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      </div>
      <div class="feature col">
        <i class="fas fa-newspaper"></i>
        <a href="#" class="icon-link">
            <h2>Newsletter</h2>
        </a>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      </div>
      <div class="feature col">
        <i class="fas fa-blog"></i>
        <a href="#" class="icon-link">
            <h2>Blog</h2>
        </a>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      </div>
      <div class="feature col">
        <i class="fas fa-user-plus"></i>
        <a href="#" class="icon-link">
            <h2>Register</h2>
        </a>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      </div>
      <div class="feature col">
        <i class="fas fa-sign-in-alt"></i>
        <a href="#" class="icon-link">
            <h2>Log In</h2>
        </a>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      </div>
    </div>
  </div>

{%endblock%}