{% extends "base.html" %}

{% block content %}

<div class="title-description">
    <h2>Menu</h2>
    <p>
        Whether it's breakfast, lunch or dinner, we have your hunger covered! Locally sourced, fresh ingredients are at the heart of our dishes. 
            <br>
        Take a peak at our dishes below, find your favourites and we look forward to welcoming you to Arthur & Alfie's.
    </p>
</div>
<div class="container-fluid meals">
    <div class="row">
    {% for menu in menu_list %}    
        <div class="col-lg-3">
            <img src="{{ menu.featured_image.url }}" alt="picture of meal" class="meal-image">
            
            <h3>{{ menu }}</h3>
            <p>Vegetarian: {{ menu.vegetarian_vegan }}</p>
            <p>Price: £{{ menu.price }}</p>
            <p><a class="btn btn-secondary" href="{% url 'menu_detail' menu.slug %}">View details »</a></p>
        </div> 
    {% endfor %}      
    </div>
</div>

{%endblock%}