{% extends "base.html" %}

{% block content %}

<div class="title-description">
    <h2>Table Bookings</h2>
    <p>
        Please see below your table reservations with us. You can edit, cancel or add to your bookings.
    </p> 
</div>

<div class="card card-body mx-5">
    <a class="btn btn-primary  btn-sm btn-block" href="{% url 'bookings' %}">Book a table</a>
    <table class="table table-sm">
        <tr>
            <th>Date of Booking</th>
            <th>Time of Booking</th>
            <th>Number of Guests</th>
            <th>Requirements</th>
            <th>Reserved By</th>
            <th>Status</th>
        </tr>

        {% for booking in reservations %}
            <tr>
                <td>{{booking.date}}</td>
                <td>{{booking.time}}</td>
                <td>{{booking.number_of_guests}}</td>
                <td>{{booking.requirements}}</td>
                <td>{{booking.email}}</td>

                <td><a class="btn btn-sm btn-info" href="(% url 'update-bookings' reserve.id %}">Update Reservation</a></td>

                <td><a class="btn btn-sm btn-danger" href="#">Cancel Reservation</a></td>

            </tr>
        {% endfor %}


    </table>
</div>

{%endblock%}